<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anton Samsonov — tonkytonky</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400,100' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>
        Anton Samson<a href="job.html" class="red">o</a>v <br>
        <span>
            tonkytonky <br>
            <a href="mailto:as@asamsonov.me" class="email">as@asamsonov.me</a>
        </span>
    </h1>
    <p>Разработчик на Python</p>
    <p>
        <a href="https://www.linkedin.com/in/tonkytonky/" target="_blank">LinkedIn</a> <br>
        <a href="https://github.com/tonkytonky-portfolio" target="_blank">GitHub</a> <br>
        <a href="https://htmlacademy.ru/profile/tonkytonky" target="_blank">HTML Academy</a> <br>
        
        
    </p>
</body>
</html>