<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anton Samsonov — tonkytonky</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400,100' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>
        Searching for a j<a href="/" class="red">o</a>b <br>
        <span class="smaller">
            tonkytonky <br>
            <a href="mailto:as@asamsonov.me" class="email">as@asamsonov.me</a>
        </span>
    </h1>
    <p>Разработчик на Python</p>
    <p>
        <a href="https://nn.hh.ru/resume/1e4bedf1ff024559ec0039ed1f4a7837704b6a" target="_blank">HeadHunter</a> <br>
    </p>
</body>
</html>